# chezmoi configuration
# Template variables are set based on chezmoi init prompts

[data]
    name = "J Aaron Farr"
    email = "farra@apache.org"
    github_user = "farra"
    op_ssh_key = {{ promptStringOnce . "op_ssh_key" "1Password SSH key item name" | quote }}
    op_github_pat = {{ promptStringOnce . "op_github_pat" "1Password GitHub PAT item name" | quote }}
    op_gpg_key = {{ promptStringOnce . "op_gpg_key" "1Password GPG key item name" | quote }}
    gpg_key_fingerprint = {{ promptStringOnce . "gpg_key_fingerprint" "GPG key fingerprint for authinfo encryption" | quote }}
