[user]
	name = {{ .name }}
	email = {{ .email }}
[github]
	user = {{ .github_user }}
[init]
	defaultBranch = main
[pull]
	rebase = false
[core]
	editor = emacs
[diff]
	colorMoved = default
[merge]
	conflictstyle = diff3
