{
  "claude-plugins-official": {
    "source": {
      "source": "github",
      "repo": "anthropics/claude-plugins-official"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/claude-plugins-official",
    "lastUpdated": "{{ now | date "2006-01-02T15:04:05.000Z" }}"
  },
  "dev-agent-backlog": {
    "source": {
      "source": "github",
      "repo": "farra/dev-agent-backlog"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/dev-agent-backlog",
    "lastUpdated": "{{ now | date "2006-01-02T15:04:05.000Z" }}"
  },
  "gongfu-claude-code": {
    "source": {
      "source": "github",
      "repo": "jamandtea/gongfu-claude-code"
    },
    "autoUpdate": true,
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/gongfu-claude-code",
    "lastUpdated": "{{ now | date "2006-01-02T15:04:05.000Z" }}"
  }
}
